.content{
    max-width: 70%;
    background-color: transparent;
    min-height: 91vh;
    position: relative;
    top:9vh;
    margin: auto;
    font-family: Bebas;
}


#phrase1{
    font-size: 10rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}

#phrase2{
    opacity: 50%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.fds{
    transform: skew(30deg, 20deg);
}
